##############################################################################
#
# This is the setup file for the task/resource system.  From here, you can
# setup the available resources (including their inflow and outflow rates) as
# well as the reactions that the organisms can trigger by performing tasks.
#
##############################################################################

RESOURCE day:initial=1
RESOURCE night:initial=0

REACTION  NOT  not   process:type=pow:value=1.0  requisite:max_count=1
REACTION  NAND nand  process:type=pow:value=1.0  requisite:max_count=1
REACTION  AND  and   process:type=pow:value=2.0  requisite:max_count=1
REACTION  ORN  orn   process:type=pow:value=2.0  requisite:max_count=1
REACTION  OR   or    process:type=pow:value=3.0  requisite:max_count=1
REACTION  ANDN andn  process:type=pow:value=3.0  requisite:max_count=1
REACTION  NOR  nor   process:type=pow:value=4.0  requisite:max_count=1
REACTION  XOR  xor   process:type=pow:value=4.0  requisite:max_count=1
REACTION  EQU  equ   process:type=pow:value=5.0  requisite:max_count=1
