###### ENVIRONMENT CONFIGS

RESOURCE day:initial=10
RESOURCE night:initial=10

REACTION  NOT  not   process:type=pow:value=1.0:resource=day:product=day  requisite:max_count=5
REACTION  NAND nand  process:type=pow:value=1.0:resource=night:product=night  requisite:max_count=5
REACTION  AND  and   process:type=pow:value=2.0:resource=day:product=day  requisite:max_count=5
REACTION  ORN  orn   process:type=pow:value=2.0:resource=night:product=night  requisite:max_count=5
REACTION  OR   or    process:type=pow:value=4.0:resource=day:product=day  requisite:max_count=5
REACTION  ANDN andn  process:type=pow:value=4.0:resource=night:product=night  requisite:max_count=5
REACTION  NOR  nor   process:type=pow:value=8.0:resource=day:product=day  requisite:max_count=5
REACTION  XOR  xor   process:type=pow:value=8.0:resource=night:product=night  requisite:max_count=5
REACTION  EQU  equ   process:type=pow:value=16.0:resource=day:product=day  requisite:max_count=5

###### EVENTS CONFIGS

u 2:4:end SetReactionValue NOT -0.1
u 2:4:end SetReactionValue AND -0.2
u 2:4:end SetReactionValue OR -0.2
u 2:4:end SetReactionValue NOR -0.2
u 2:4:end SetReactionValue EQU -0.2
u 4:4:end SetReactionValue NOT 1
u 4:4:end SetReactionValue AND 2
u 4:4:end SetReactionValue OR 3
u 4:4:end SetReactionValue NOR 4
u 4:4:end SetReactionValue EQU 5

u 0:2:end SetReactionValue NAND -0.1
u 0:2:end SetReactionValue ORN -0.2
u 0:2:end SetReactionValue ANDN -0.2
u 0:2:end SetReactionValue XOR -0.2
u 2:4:end SetReactionValue NAND 1
u 2:4:end SetReactionValue ORN 2
u 2:4:end SetReactionValue ANDN 3
u 2:4:end SetReactionValue XOR 4

u 50000 Exit
